

/* Variable colors and elements */

:root {
  --main: #3b83bc;        /* rgba( 59, 131, 188, 1) */
  --main-light: #74a5d2;  /* rgba(116, 165, 210, 1) */
  --alike: #3cb5b8;       /* rgba( 60, 181, 184, 1) */
  --alike-light: #86cfd6; /* rgba(134, 207, 294, 1) */
  --cont: #ffc582;        /* rgba(255, 197, 130, 1) */
  --cont-light: #ffd7b0;  /* rgba(255, 215, 176, 1) */
  --wtf: #fc4445;
  --light: #f5f5f5;
  --dark: #333;
  --light90: rgba(245, 245, 245, 0.9);
  --light70: rgba(245, 245, 245, 0.7);
  /*--bg-img: url("/bg-light.png"); */
  --bg-img-light: url("/images/background/bg-light.png");
  --bg-img-dark: url("/images/background/bg.png");
  --box: var(--main-light);
  --box-bg: rgba(116, 165, 210, 0.1);
  /*--shadow: 5px 10px 20px var(--main-light);*/
  --cube-img1: url("/images/sola-analytics-sign.png");
  --cube-img2: url("/images/sola-analytics.png");
  --cube-img3: url("/images/sola-analytics-sign.png");
  --cube-img4: url("/images/sola-analytics.png");
  --cube-width: 50vw;
  --cube-width-alt: 520px;
  --cube-opacity: 0.95;
}


