
/* Banner */

.image-descript {
  position: relative;
  display: none;
  animation: slide-in-from-bottom 1s forwards;
  justify-content: center; /* flex horizontal center */
  align-items: center; /*flex vertical center*/
}
 .big-text {
    text-align: center;
    color: #ffffff;
    visibility: visible;
    font-size: 3em;
    text-shadow: 1px 1px 35px #0e0d0d38;
    letter-spacing: 0.065em;
  }
  .small-text { 
      color: white;
      margin: 0 auto 5px auto;
      text-align: center; 
      display:block;
      font-family: 'Lora', serif;
      font-size: 22px;
      font-weight: 500;
      line-height: 1.5em;
      letter-spacing: 1px;
      font-style: italic;
      text-shadow: 1px 1px 35px #0e0d0d38;
    }

.big_image {
  margin-top: -50px;
  margin-bottom: 2em;
  width: 100%;
}

.image-text{
    position: absolute;
    top:30%;
    left:0;
    right:0;
    bottom:0;
  }
  
.lil-image-text { 
    color: white;
    margin-top: 0px;
      margin-right: auto;
      margin-bottom: 20px;
      margin-left: auto;
    padding-top: 0px;
    text-align: center; 
    display:block;
    font-family: 'Lora', serif;
      font-size: 22px;
      font-weight: 500;
      line-height: 1.5em;
      letter-spacing: 1px;
      font-style: italic;
      font-weight: normal;
      color: #fff;
  }


/*@media screen and (max-width: 300px) {
 .image-descript {
  display: none;
 }*/


.big-image-text { 
  letter-spacing: 0.065em;
  line-height: 1em;
  font-size: 68px;
  text-transform: uppercase;
  text-align: center; 
  display:block;
  color: #fff;
  margin-bottom: 3rem;
}

.color-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,.1);
}







@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i|Space+Mono:400,400i,700,700i|Noto+Serif:400,400i,700,700i|Lora:400,400i,700,700i');


/* Style text, sections headers and title*/
.book .book-body .page-wrapper .page-inner {
  max-width: 80%;
}

.book.font-family-0 {
  font-family: 'Noto Serif', serif;
}

.book.font-family-1 {
  font-family: 'Noto Sans', Helvetica, Arial, sans-serif;
}

.title {
  font-family: 'Lora' !important;
  /*font-style: italic !important;*/
  font-weight: normal !important;
  font-size: 3em !important;
}

.subtitle {
  font-family: 'Lora' !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 1.8em !important;
}

.date {
  font-family: 'Lora' !important;
  font-style: normal !important;*/
}

h1, h2, h3 {
  color: #31708e;
  font-size: 1.6rem;
}

code, pre, samp, sourceCode {
  font-family: 'Space Mono', monospace, !important;
  /*font-size: 1.6em;*/
}

.author, .date {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.6em;
}

p.caption {
  color: #777;
  margin-top: 10px;
}

p code {
  white-space: inherit;
}

pre {
  word-break: normal;
  word-wrap: normal;
  line-height: normal;
  border: 1px solid #ccc !important;
  border-radius: 4px !important;
}

pre code {
  white-space: inherit;
}

.cols {
  display: grid; 
  grid-template-columns: 35% 5% 60%; 
  /*grid-column-gap: 10px;*/
}

/* Style for watermark and boxes*/
.watermark {
  opacity: 0.3;
  position: fixed;
  top: 50%;
  left: 50%;
  font-size: 600%;
  color: #606099;
  z-index: 1000000;
}

.infobox {
  padding: 1em;
  border: 2px solid #8fc1e3;
  border-radius: 10px;
  background-color: #cce5ff;
  margin-bottom: 1.2em;
  margin-top: 1.2em;
}


.question {
  padding: 1em;
  border: 2px solid #ffeeba;
  border-radius: 10px;
  background-color: #fff3cd;
  margin-bottom: 1.2em;
  margin-top: 1.2em;
  color: #856404;
}

txt-green{
  color: #1f6521;
  font-weight: bold;
}

/*Style for R chunks*/
.Rchunk-cons {
  color: #8a6d3b !important;
  background-color: #fff3cd !important;
  border-color: #ffeeba !important;
}

.Rchunk-sol {
  background-color: #d4edda !important;
  border-color: #c3e6cb !important;
}

/*Style for R outputs*/
.Rout-demo {
  background-color: #ffffff !important;
  font-weight: bold;
  color: #012172 !important;
}

.Rout-sol {
  background-color: #ffffff !important;
  font-weight: bold;
  color: #012172 !important;
  border: 1px solid #8ee4af !important;
  border-radius: 4px !important;
}

