@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i|Noto+Serif:400,400i,700,700i|Lora:400,400i,700,700i|Oxanium:200,300,400,500,600,700,800|Space+Mono:400,400i,700,700i|Ubuntu+Mono:400,400i,700,700i');



/* --- Banner --- */

.image-descript {
  position: relative;
  /*display: none;*/
  animation: slide-in-from-bottom 5s forwards;
  justify-content: center; /* flex horizontal center */
  align-items: center; /*flex vertical center*/
}

.big_image {
  margin-top: -50px;
  margin-bottom: 2em;
  width: 100%;
}

.image-text{
    position: absolute;
    top:30%;
    left:0;
    right:0;
    bottom:0;
  }
  
.lil-image-text { 
    color: white;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
    padding-top: 0px;
    text-align: center; 
    display:block;
    font-family: 'Oxanium', sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 1px;
    /*font-style: italic;*/
    font-weight: normal;
    color: #fff;
  }

.big-image-text { 
  letter-spacing: 0.065em;
  line-height: 1em;
  font-size: 40px;
  /*text-transform: uppercase;*/
  text-align: center; 
  display:block;
  font-family: 'Lora', serif;
  font-style: italic;
  font-weight: 400;
  color: #fff;
  margin-bottom: 3rem;
}



/* --- TOC --- */

#tutorial-topic::before {
  content: "";
  display: block;
  height: 90px;
  margin: 10px 10px 10px 10px;
  background-image: url("../images/eNFI-logo.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}


.topicsContainer {
    width: 23%;
    margin-right: 2%;
    margin-left: 2%;
    min-width: 200px;
    max-width: 260px;
    z-index: 100;
}

.topicsPositioner {
  position: relative;
}

.topicsList {
    min-width: 200px;
    max-width: 260px;
}

.topicsHeader {
    display: block;
    text-align: center;
}



/* --- Style text, sections headers and title --- */

.book .book-body .page-wrapper .page-inner {
  max-width: 80%;
}

body {
  font-family: 'Noto Sans', sans-serif;
}

h1, h2, h3 {
  color: #31708e;
  font-size: 1.6rem;
  font-family: 'Noto Sans', sans-serif;
}

h2.tutorialTitle {
  font-family: 'Lora', serif !important;
  font-style: italic;
}

code, pre, samp, sourceCode {
  font-family: 'Ubuntu Mono', 'Oxanium', 'Space Mono', monospace !important;
  /*font-size: 1.6em;*/
}

.ace_editor {
   font-family: 'Ubuntu Mono', 'Oxanium', 'Space Mono', monospace !important;
}

p code {
  white-space: inherit;
}

pre {
  word-break: normal;
  word-wrap: normal;
  line-height: normal;
  border: 1px solid #ccc !important;
  border-radius: 4px !important;
}

pre code {
  white-space: inherit;
}



/* --- Style for watermark and boxes --- */

.watermark {
  opacity: 0.3;
  position: fixed;
  top: 50%;
  left: 50%;
  font-size: 600%;
  color: #606099;
  z-index: 1000000;
}

.infobox {
  padding: 1em;
  border: 2px solid #8fc1e3;
  border-radius: 10px;
  background-color: #cce5ff;
  margin-bottom: 1.2em;
  margin-top: 1.2em;
}

.question {
  padding: 1em;
  border: 2px solid #ffeeba;
  border-radius: 10px;
  background-color: #fff3cd;
  margin-bottom: 1.2em;
  margin-top: 1.2em;
  color: #856404;
}

txt-green{
  color: #1f6521;
  font-weight: bold;
}



/* --- Style for R chunks --- */

.Rchunk-cons {
  color: #8a6d3b !important;
  background-color: #fff3cd !important;
  border-color: #ffeeba !important;
}

.Rchunk-sol {
  background-color: #d4edda !important;
  border-color: #c3e6cb !important;
}

.Rout-demo {
  background-color: #ffffff !important;
  font-weight: bold;
  color: #012172 !important;
}

.Rout-sol {
  background-color: #ffffff !important;
  font-weight: bold;
  color: #012172 !important;
  border: 1px solid #8ee4af !important;
  border-radius: 4px !important;
}

