

/* --- Style text, sections headers and title --- */

.book .book-body .page-wrapper .page-inner {
  max-width: 80%;
}

body {
  font-size: 19px;
}

h1, h2, h3 {
  color: #31708e;
  font-size: 34px;
}

h2.tutorialTitle {
  font-style: italic;
  font-size: 24px;
}

p code {
  white-space: inherit;
}

pre {
  word-break: normal;
  word-wrap: normal;
  line-height: normal;
  border: 1px solid #ccc !important;
  border-radius: 4px !important;
}

pre code {
  white-space: inherit;
}

/* --- Images --- */
.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-width: 800px;
  
}

/* --- Style for watermark and boxes --- */

.watermark {
  opacity: 0.3;
  position: fixed;
  top: 50%;
  left: 50%;
  font-size: 600%;
  color: #606099;
  z-index: 1000000;
}

.infobox {
  padding: 1em;
  border: 2px solid #8fc1e3;
  border-radius: 10px;
  background-color: #cce5ff;
  margin-bottom: 1.2em;
  margin-top: 1.2em;
}

.question {
  padding: 1em;
  border: 2px solid #ffeeba;
  border-radius: 10px;
  background-color: #fff3cd;
  margin-bottom: 1.2em;
  margin-top: 1.2em;
  color: #856404;
}

txt-green{
  color: #1f6521;
  font-weight: bold;
}



/* --- Style for R chunks --- */

.Rchunk-cons {
  color: #8a6d3b !important;
  background-color: #fff3cd !important;
  border-color: #ffeeba !important;
}

.Rchunk-sol {
  background-color: #d4edda !important;
  border-color: #c3e6cb !important;
}

.Rout-demo {
  background-color: #ffffff !important;
  font-weight: bold;
  color: #012172 !important;
}

.Rout-sol {
  background-color: #ffffff !important;
  font-weight: bold;
  color: #012172 !important;
  border: 1px solid #8ee4af !important;
  border-radius: 4px !important;
}
  

